In [36]:
import pandas as pd

In [37]:
df=pd.read_csv("c:/Training/Local Price Tracker and Inflation Montior/data/processed/data.csv")
df.head()

                       commodity  unit        date  price
0                           Rice  1 Kg  2025-08-13  42.87
1                          Wheat  1 Kg  2025-08-13  31.51
2                   Atta (Wheat)  1 Kg  2025-08-13  36.76
3  Gram Dal(Bharat Dal Adjusted)  1 Kg  2025-08-13  83.06
4                       Gram Dal  1 Kg  2025-08-13  87.13

In [38]:
df.shape

(351, 4)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   commodity  351 non-null    object
 1   unit       351 non-null    object
 2   date       351 non-null    object
 3   price      351 non-null    float64
dtypes: float64(1), object(3)
memory usage: 11.1+ KB

In [20]:
df.describe()

            price
count  351.000000
mean    93.585812
std    106.917232
min     15.850000
25%     41.370000
50%     56.350000
75%    114.250000
max    665.070000

In [41]:
df['date']=pd.to_datetime(df['date'], errors='coerce')
latest_date=df['date'].max()
latest_date

Timestamp('2025-08-13 00:00:00')

In [42]:
one_year_ago = latest_date.replace(year=latest_date.year - 1)
one_year_ago

Timestamp('2024-08-13 00:00:00')

In [44]:
latest_prices = df[df["date"] == latest_date]
latest_prices

                        commodity     unit       date   price
0                            Rice     1 Kg 2025-08-13   42.87
1                           Wheat     1 Kg 2025-08-13   31.51
2                    Atta (Wheat)     1 Kg 2025-08-13   36.76
3   Gram Dal(Bharat Dal Adjusted)     1 Kg 2025-08-13   83.06
4                        Gram Dal     1 Kg 2025-08-13   87.13
5                   Tur/Arhar Dal     1 Kg 2025-08-13  118.11
6                        Urad Dal     1 Kg 2025-08-13  114.40
7                       Moong Dal     1 Kg 2025-08-13  110.43
8                      Masoor Dal     1 Kg 2025-08-13   89.26
9                           Sugar     1 Kg 2025-08-13   46.20
10                   Milk (₹/ltr)    1 Ltr 2025-08-13   59.09
11         Groundnut Oil (Packed)     1 Kg 2025-08-13  188.37
12           Mustard Oil (Packed)     1 Kg 2025-08-13  186.69
13             Vanaspati (Packed)     1 Kg 2025-08-13  156.49
14              Soya Oil (Packed)     1 Kg 2025-08-13  147.03
15         Sunflower Oil (Packed)     1 Kg 2025-08-13  160.92
16              Palm Oil (Packed)     1 Kg 2025-08-13  130.46
17                            Gur     1 Kg 2025-08-13   56.31
18                      Tea Loose     1 Kg 2025-08-13  271.25
19            Salt Pack (Iodised)     1 Kg 2025-08-13   21.42
20                         Potato     1 Kg 2025-08-13   25.69
21                          Onion     1 Kg 2025-08-13   28.11
22                         Tomato     1 Kg 2025-08-13   53.26
23                  Bajra (whole)     1 Kg 2025-08-13   37.79
24                  Jowar (whole)     1 Kg 2025-08-13   43.24
25                  Maida (wheat)     1 Kg 2025-08-13   41.52
26                   Ragi (whole)     1 kg 2025-08-13   53.52
27                   Suji (whole)     1 Kg 2025-08-13   46.57
28                          Besan     1 Kg 2025-08-13   96.98
29                      Desi Ghee     1 Kg 2025-08-13  663.71
30           Butter (Pasteurised)   100 gm 2025-08-13   59.17
31                          Eggs   1 Dozen 2025-08-13   76.63
32                        Brinjal     1 Kg 2025-08-13   42.66
33           Black Pepper (whole)   100 gm 2025-08-13   87.36
34              Coriander (whole)   250 gm 2025-08-13   37.16
35            Cummin Seed (whole)   100 gm 2025-08-13   41.95
36           Red Chillies (whole)   100 gm 2025-08-13   27.85
37              Turmeric (powder)    50 gm 2025-08-13   16.22
38                         Banana     1 Kg 2025-08-13   49.79

In [45]:
year_back_prices = df[df["date"] == one_year_ago]

In [21]:
df["daily_pct_change"] = df.groupby('commodity')['price'].pct_change()

In [55]:
inflation_df = latest_prices.merge(
    year_back_prices,
    on=["commodity", "unit"],
    suffixes=("_latest", "_year_back")
)
inflation_df['inflation_rate'] = ((inflation_df['price_latest'] - inflation_df['price_year_back']) / inflation_df['price_year_back']) * 100

In [56]:
inflation_df

,commodity,unit,date_latest,price_latest,date_year_back,price_year_back,inflation_rate
0,Rice,1 Kg,2025-08-13,42.87,2024-08-13,43.64,-1.764436
1,Wheat,1 Kg,2025-08-13,31.51,2024-08-13,30.67,2.738833
2,Atta (Wheat),1 Kg,2025-08-13,36.76,2024-08-13,35.62,3.200449
3,Gram Dal(Bharat Dal Adjusted),1 Kg,2025-08-13,83.06,2024-08-13,84.36,-1.541015
4,Gram Dal,1 Kg,2025-08-13,87.13,2024-08-13,88.66,-1.725694
5,Tur/Arhar Dal,1 Kg,2025-08-13,118.11,2024-08-13,165.73,-28.733482
6,Urad Dal,1 Kg,2025-08-13,114.40,2024-08-13,125.26,-8.669966
7,Moong Dal,1 Kg,2025-08-13,110.43,2024-08-13,116.42,-5.145164
8,Masoor Dal,1 Kg,2025-08-13,89.26,2024-08-13,90.22,-1.064066
9,Sugar,1 Kg,2025-08-13,46.20,2024-08-13,44.74,3.263299
10,Milk (₹/ltr),1 Ltr,2025-08-13,59.09,2024-08-13,59.03,0.101643
11,Groundnut Oil (Packed),1 Kg,2025-08-13,188.37,2024-08-13,184.96,1.843642
12,Mustard Oil (Packed),1 Kg,2025-08-13,186.69,2024-08-13,139.77,33.569436
13,Vanaspati (Packed),1 Kg,2025-08-13,156.49,2024-08-13,123.36,26.856355
14,Soya Oil (Packed),1 Kg,2025-08-13,147.03,2024-08-13,119.81,22.719306
15,Sunflower Oil (Packed),1 Kg,2025-08-13,160.92,2024-08-13,120.46,33.587913
16,Palm Oil (Packed),1 Kg,2025-08-13,130.46,2024-08-13,99.15,31.578417
17,Gur,1 Kg,2025-08-13,56.31,2024-08-13,54.68,2.980980
18,Tea Loose,1 Kg,2025-08-13,271.25,2024-08-13,269.56,0.626948
19,Salt Pack (Iodised),1 Kg,2025-08-13,21.42,2024-08-13,22.08,-2.989130
20,Potato,1 Kg,2025-08-13,25.69,2024-08-13,37.18,-30.903712
21,Onion,1 Kg,2025-08-13,28.11,2024-08-13,43.74,-35.733882
22,Tomato,1 Kg,2025-08-13,53.26,2024-08-13,50.11,6.286170
23,Bajra (whole),1 Kg,2025-08-13,37.79,2024-08-13,38.26,-1.228437
24,Jowar (whole),1 Kg,2025-08-13,43.24,2024-08-13,47.88,-9.690894
25,Maida (wheat),1 Kg,2025-08-13,41.52,2024-08-13,40.23,3.206562
26,Ragi (whole),1 kg,2025-08-13,53.52,2024-08-13,57.88,-7.532827
27,Suji (whole),1 Kg,2025-08-13,46.57,2024-08-13,45.27,2.871659
28,Besan,1 Kg,2025-08-13,96.98,2024-08-13,99.58,-2.610966
29,Desi Ghee,1 Kg,2025-08-13,663.71,2024-08-13,628.24,5.645931
30,Butter (Pasteurised),100 gm,2025-08-13,59.17,2024-08-13,62.01,-4.579906
31,Eggs,1 Dozen,2025-08-13,76.63,2024-08-13,75.58,1.389256
32,Brinjal,1 Kg,2025-08-13,42.66,2024-08-13,46.73,-8.709608
33,Black Pepper (whole),100 gm,2025-08-13,87.36,2024-08-13,102.96,-15.151515
34,Coriander (whole),250 gm,2025-08-13,37.16,2024-08-13,28.13,32.100960
35,Cummin Seed (whole),100 gm,2025-08-13,41.95,2024-08-13,63.40,-33.832808
36,Red Chillies (whole),100 gm,2025-08-13,27.85,2024-08-13,39.86,-30.130457
37,Turmeric (powder),50 gm,2025-08-13,16.22,2024-08-13,31.35,-48.261563
38,Banana,1 Kg,2025-08-13,49.79,2024-08-13,50.58,-1.561882

In [68]:
top_5_inflation_rate = inflation_df.nlargest(5, 'inflation_rate')

In [69]:
top_5_inflation_rate

,commodity,unit,date_latest,price_latest,date_year_back,price_year_back,inflation_rate
15,Sunflower Oil (Packed),1 Kg,2025-08-13,160.92,2024-08-13,120.46,33.587913
12,Mustard Oil (Packed),1 Kg,2025-08-13,186.69,2024-08-13,139.77,33.569436
34,Coriander (whole),250 gm,2025-08-13,37.16,2024-08-13,28.13,32.100960
16,Palm Oil (Packed),1 Kg,2025-08-13,130.46,2024-08-13,99.15,31.578417
13,Vanaspati (Packed),1 Kg,2025-08-13,156.49,2024-08-13,123.36,26.856355

In [70]:
least_five_inflation_rate = inflation_df.nsmallest(5, 'inflation_rate')
least_five_inflation_rate

,commodity,unit,date_latest,price_latest,date_year_back,price_year_back,inflation_rate
37,Turmeric (powder),50 gm,2025-08-13,16.22,2024-08-13,31.35,-48.261563
21,Onion,1 Kg,2025-08-13,28.11,2024-08-13,43.74,-35.733882
35,Cummin Seed (whole),100 gm,2025-08-13,41.95,2024-08-13,63.40,-33.832808
20,Potato,1 Kg,2025-08-13,25.69,2024-08-13,37.18,-30.903712
36,Red Chillies (whole),100 gm,2025-08-13,27.85,2024-08-13,39.86,-30.130457

In [57]:
plotting_df = inflation_df[['commodity', 'inflation_rate']]

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(12, 6))
plt.bar(plotting_df['commodity'], plotting_df['inflation_rate'])
plt.xticks(rotation=90)
plt.xlabel('Commodity')
plt.ylabel('Inflation Rate (%)')
plt.title('Inflation Rate by Commodity')
plt.tight_layout()
plt.show()