In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("c:/Training/Local Price Tracker and Inflation Montior/data/processed/data.csv")
df.head()

                       commodity  unit        date  price
0                           Rice  1 Kg  2025-08-13  42.87
1                          Wheat  1 Kg  2025-08-13  31.51
2                   Atta (Wheat)  1 Kg  2025-08-13  36.76
3  Gram Dal(Bharat Dal Adjusted)  1 Kg  2025-08-13  83.06
4                       Gram Dal  1 Kg  2025-08-13  87.13

In [3]:
df['date'] = pd.to_datetime(df['date'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   commodity  351 non-null    object
 1   unit       351 non-null    object
 2   date       351 non-null    datetime64[ns]
 3   price      351 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 11.1+ KB

In [20]:
latest_date = df['date'].max()
prevoius_date = latest_date.replace(year=latest_date.year - 1)

In [21]:
yearly_data = df[df['date'].isin([prevoius_date, latest_date])].drop(columns=['date'])

In [22]:
yearly_data

                         commodity    unit  price
0                             Rice    1 Kg  42.87
1                            Wheat    1 Kg  31.51
2                     Atta (Wheat)    1 Kg  36.76
3    Gram Dal(Bharat Dal Adjusted)    1 Kg  83.06
4                         Gram Dal    1 Kg  87.13
..                             ...     ...    ...
346              Coriander (whole)  250 gm  28.13
347            Cummin Seed (whole)  100 gm  63.40
348           Red Chillies (whole)  100 gm  39.86
349              Turmeric (powder)   50 gm  31.35
350                         Banana    1 Kg  50.58

[78 rows x 3 columns]

In [ ]:
yearly_data['vairance'] = (
       yearly_data
      .groupby("commodity")["price"]
      .transform('var')
)

In [44]:
yearly_data

                         commodity    unit  price  vairance
0                             Rice    1 Kg  42.87       NaN
1                            Wheat    1 Kg  31.51       NaN
2                     Atta (Wheat)    1 Kg  36.76       NaN
3    Gram Dal(Bharat Dal Adjusted)    1 Kg  83.06       NaN
4                         Gram Dal    1 Kg  87.13       NaN
..                             ...     ...    ...       ...
346              Coriander (whole)  250 gm  28.13       NaN
347            Cummin Seed (whole)  100 gm  63.40       NaN
348           Red Chillies (whole)  100 gm  39.86       NaN
349              Turmeric (powder)   50 gm  31.35       NaN
350                         Banana    1 Kg  50.58       NaN

[78 rows x 4 columns]